@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  overflow-x: hidden;
}

.slick-slide > div {
  margin: 0px 0px;
}

.slick-list {
  /*border-radius: 0.75rem;*/
  /* height: 30px; */
}

.slider-container:focus-visible,
.slider-container:focus {
  outline: none !important;
}

.slick-slide div {
  outline: none !important;
}

.slick-arrow.slick-prev:before {
  content: "";
}

.slick-arrow.slick-next:before {
  content: "";
}

.custom-next-arrow,
.custom-prev-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.custom-prev-arrow {
  right: 0;
}

.custom-next-arrow {
  right: 0;
}
