@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  overflow-x: hidden;
}

.slick-slide > div {
  margin: 0 0px;
  /* border: 1px solid red; */
  /* border-radius: 0.5rem; */
  /* height: 400px; */
}

.slick-list {
  /*border-radius: 0.75rem;*/
  /* height: 30px; */
}

.slider-container:focus-visible,
.slider-container:focus {
  outline: none !important;
}

.slick-slide div {
  outline: none !important;
}
